<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wabo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name = "android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/online"
        android:label="@string/app_name"
        android:roundIcon="@drawable/online"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wabo.NoActionBar">
        <activity
            android:name=".test"
            android:exported="true" />
        <activity
            android:name=".will_claim"
            android:exported="true" />
        <activity
            android:name=".add_will"
            android:exported="true" />
        <activity
            android:name=".fail_claim"
            android:exported="false" />
        <activity
            android:name=".success_claim"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".detect_claim"
            android:exported="false" />
        <activity
            android:name=".add_heir"
            android:exported="false" />
        <activity
            android:name=".update_heir"
            android:exported="false" />
        <activity
            android:name=".view_heir"
            android:exported="false" />
        <activity
            android:name=".account_update"
            android:exported="true" />
        <activity
            android:name=".ViewWill_Creator_Verify2"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator_NotVerify2"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator_Claimed2"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator_Claimed"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator_NotVerify"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator_Verify"
            android:exported="false" />
        <activity
            android:name=".ViewWill_Creator"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyRejectedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyVerifiedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyUnverifiedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyRejected"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyVerified"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyUnverified"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorney"
            android:exported="false" />
        <activity
            android:name=".profileRegistration"
            android:exported="true" />
        <activity
            android:name=".StartPage"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>