<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wabo">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/online"
        android:label="@string/app_name"
        android:roundIcon="@drawable/online"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wabo.NoActionBar">
        <activity

            android:name=".viewWillAttorneyRejectedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyVerifiedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyUnverifiedMore"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyRejected"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyVerified"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorneyUnverified"
            android:exported="false" />
        <activity
            android:name=".viewWillAttorney"
            android:exported="false" />

            android:name=".profileRegistration"
            android:exported="true" />

        <activity
            android:name=".StartPage"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar" />
        <activity
            android:name=".splashActivity"
            android:exported="true"
            android:theme="@style/Theme.Wabo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>